.home-banner {
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	.top-style {
		position: absolute;
		width: 400px;
		top: -100px;
		left: -50px;
		@include down-sm {
			width: 200px;
			top: -100px;
			left: -50px;
		}
		svg {
			color: $px-theme;
		}
	}
	.bottom-style {
		position: absolute;
		width: 400px;
		bottom: -100px;
		right: -50px;
		svg {
			color: $px-theme;
		}
		@include down-sm {
			width: 200px;
			bottom: -50px;
			right: -25px;
		}
	}
    .full-screen {
        min-height: 100vh;
        padding-top: 150px;
        padding-bottom: 90px;
    }
	.scroll-bottom {
		position: absolute;
		bottom: 30px;
		left: 50px;
		z-index: 2;
		@include down-sm {
			display: none;
		}
		a {
			color: $px-white;
		    text-transform: uppercase;
		    text-decoration: none;
		    font-size: 14px;
		    font-weight: 300;
		    letter-spacing: 0.2rem;
		}
	}
    .social-icons {
		position: absolute;
		right: 40px;
		bottom: 30px;
		@include down-sm {
			left: 40px;
			margin: auto;
		}
        a {
			width: 35px;
			height: 35px;
			text-align: center;
			background: $px-gray;
			border-radius: 50%;
			line-height: 35px;
			color: $px-dark;
			text-decoration: none;
			margin-right: 8px;
			display: -webkit-inline-box;
			display: -ms-inline-flexbox;
			display: inline-flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			        align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			        justify-content: center;
			&:hover {
				background: $px-dark;
				color: $px-white;
			}
		}
    }
    .hb-typo {
		text-align: center;
		h6 {
			font-size: 25px;
			margin-bottom: 15px;
			color: $px-white;
			@include down-sm {
				font-size: 18px;
			}
		}
		h1 {
			font-size: 90px;
			color: $px-white;
			font-weight: 700; 
			margin-bottom: 15px;
			@include down-sm {
				font-size: 45px;
			}
		}
		h2 {
			font-size: 38px;
			color: $px-white;
			font-weight: 500;
			margin: 0;
			span {
				text-decoration: underline;
			}
			@include down-sm {
				font-size: 22px;
			}
		}
	}
    .hb-avatar {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		width: 50%;
		text-align: center;
		img {
			height: 100%;
			object-fit: cover;
		}
	}
    .particles-box {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0.2;
		pointer-events: none;
	}
}