.testmonial-box {
	margin: 20px 0 30px;
	.avatar {
		width: 30%;
		padding: 0 15px 15px; 
		position: relative;
		&:after {
			content: "";
			position: absolute;
			bottom: 5px;
			top: 15px;
			left: 5px;
			right: 30px;
			z-index: -1;
			border: 2px solid $px-theme;
		}
	}
	.testmonial-text {
		padding-left: 20px;
		p {
			margin: 0;
		}
	}
	.testmonial-info {
		font-size: 12px;
		padding-top: 10px;
		h6 {
			font-size: 15px;
		    font-weight: 600;
		    color: $px-dark;
		    margin: 0 0 5px;
		}
		.rating-value {
			display: inline-block;
			vertical-align: middle;
			background: $px-white;
			border-radius: 30px;
			padding: 0px 10px;
			box-shadow: 1px 1px 1px 1px rgba($px-dark,.1);
			font-size: 9px;
			i {
				color: #ffc800;
				margin-right: 3px;
			}
		}
	}
}